.edit_big {
    width: 600px;
    height: 500px;
}

.edit_table {
    position: absolute;
    font-size: large;
    border: 0;
}

.edit_caption {
    position: absolute;
    top: -20px;
    left: 220px;
}

.edit_left {
    position: relative;
    left: 50px;
    top: 50px;

    padding-bottom: 30px;
}

.edit_right {
    position: relative;
    left: 80px;
    top: 50px;

    padding-bottom: 30px;

}

.btn_add {
    position: relative;
    width: 70px;
    height: 35px;
    color: white;
    background-color: rgb(27, 141, 255);
    opacity: 0.5;
    border-radius: 2px;
    border: 0;
    top: 65px;
    left: 153px;
}

.username,
.student_id,
.age,
.sex,
.class,
.subject,
.address,
.class_id,
.start,
.number,
.ratio,
.headmaster
 {
    width: 450px;
    height: 30px;
    border: 1px solid #A6A6A6;
    opacity: 0.7;
    border-radius: 2px;

}